@media only screen and (max-width: 690px) {
	.page-header-banner .row-bg.using-image {
		background-color: #f8f8f8;
	}

	body:not([data-hhun="1"]) #header-outer[data-using-secondary="1"]:not(.hidden-secondary) {
		box-shadow: 0px 8px 24px rgba(170, 170, 170, 0.15);
	}

	.slide-out-widget-area-toggle.mobile-icon .lines-button.x2 .lines:after,
	.slide-out-widget-area-toggle.mobile-icon .lines-button.x2 .lines:before,
	.slide-out-widget-area-toggle.mobile-icon .lines-button:after {
		background-color: #0a272b;
	}

	.page-header-banner .wpb_wrapper {
		text-align: center;
	}

	/* .page-header-banner a.nectar-button.regular-button,
	.page-header-banner a.nectar-button.see-through {
		display: block;
		margin-right: 0px !important;
	} */

	.page-header-banner p {
		font-size: 16px;
	}

	.number-box h2 {
		font-size: 56px;
	}

	.page-bottom-banner .row-bg.using-image {
		background-size: contain;
	}

	.page-bottom-banner img {
		width: 140px;
		margin-left: auto;
	}

	.footer-user-img {
		margin-top: -100px;
	}

	.vi-hubspot-form form .hs_email input.hs-input {
		/* width: 61% !important; */
	}

	div#footer-widgets .menu-area {
		padding-left: 0px;
	}

	.boxed-slider .toggle>.toggle-title a i {
		position: absolute;
		left: 87%;
		top: 18px;
		background-image: url("../assets/img/down-icon.png");
		width: 30px;
		height: 30px;
	}

	.boxed-slider .toggle.open>.toggle-title a i {
		transform: rotate(180deg);
	}

	.boxed-slider .toggle>.toggle-title a i::before {
		content: " ";
	}

	.boxed-slider .toggle {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		font-size: 20px !important;
		line-height: 140%;
		color: #00b1aa;
		/* background: #c10c0c; */
		border: 1px solid rgba(19, 34, 149, 0.2);
		border-radius: 16px;
		padding: 0px;
		background-image: url("../assets/img/box-bg.png");
	}

	.boxed-slider .toggle>.toggle-title a {
		display: block;
		letter-spacing: 0;
		padding: 24px 14px 24px 23px;
		background-color: transparent;
		-webkit-transition: all 0.2s linear;
		font-style: normal;
		font-size: 20px !important;
		line-height: 100% !important;
		color: #00b1aa;
		border-radius: 10px;
		text-align: left;
	}

	.boxed-slider .toggle p {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #000000;
		text-align: center;
	}

	body .boxed-slider .toggle>div {
		background-color: transparent !important;
		box-shadow: none;
	}

	.col.span_4.mobile-6 {
		width: 50%;
		margin-bottom: 10px !important;
	}

	#footer-outer #footer-widgets .col .social-share ul li {
		display: inline-block;
		height: 30px;
		margin: 0px !important;
		padding: 0px;
	}

	#footer-outer #footer-widgets .col .social-share ul li a {
		text-indent: -99999px;
		display: block;
	}

	div#footer-widgets {
		padding: 30px 0 !important;
	}

	body #footer-outer #copyright .col ul li:first-child,
	body #footer-outer #copyright .col ul li:last-child {
		margin-left: 0;
	}

	#footer-outer #copyright {
		padding: 0px 0 20px 0;
	}

	.vi-testimonial .testimonial-author {
		position: relative;
		bottom: 0px;
	}

	.using-mobile-browser #slide-out-widget-area.fullscreen-alt .inner-wrap {
		overflow-y: scroll;
		background: #fff;
	}

	.off-canvas-menu-container.mobile-only,
	#slide-out-widget-area.fullscreen-alt .inner {
		background: #ffffff;
		padding: 0px !important;
		margin: 0px !important;
	}

	#slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container .menu>li {
		text-align: left;
	}

	body #slide-out-widget-area .inner .off-canvas-menu-container.mobile-only .menu {
		display: block;
		background: #fff;
		padding: 20px 30px;
	}

	#slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container .menu>li a {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 14px !important;
		line-height: 20px !important;
		text-transform: capitalize;
		color: #0a272b !important;
		text-align: left !important;
	}

	#slide-out-widget-area .off-canvas-menu-container {
		padding: 0px !important;
	}

	body #slide-out-widget-area .inner .off-canvas-menu-container.mobile-only .menu.secondary-header-items {
		display: block;
		background: #17525a;
		padding: 0px 0px;
	}

	body #slide-out-widget-area .inner .off-canvas-menu-container.mobile-only .menu.secondary-header-items>li a {
		font-family: poppins;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		text-transform: capitalize;
		color: #fff !important;
		padding: 10px 30px;
		display: block;
	}

	body #slide-out-widget-area .inner .off-canvas-menu-container.mobile-only .menu.secondary-header-items>li.current-menu-item a {
		background: #13474e;
	}

	#slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container .menu>li.nav-btn a {
		padding: 12px 24px 12px 24px;
		background: #f89122;
		border-radius: 8px;
		color: #fff !important;
	}

	.vi-testimonial .testimonial-content {
		min-height: auto;
	}

	.testimonial-author img {
		margin-bottom: 35px !important;
	}

	#footer-outer #footer-widgets .col .vi-hubspot-form form .hs_submit.hs-submit input[type="submit"] {
		width: 34%;
	}

	.boxed-content .vc_column-inner {
		padding: 30px 100px 30px 30px !important;
		border-radius: 23px !important;
	}

	.featured-carousel .carousel-item {
		padding: 20px 20px;
	}

	button.cky-btn.cky-btn-reject {
		padding: 11px !important;
		border: 1px solid #17525a !important;
	}

	body .vc_row.vc_row-flex.vc_row-o-equal-height>.span_12,
	body .vc_row.vc_row-flex.vc_row-o-equal-height>.span_12>.vc_column_container,
	body .vc_row.vc_row-flex.vc_row-o-equal-height>.span_12>.vc_column_container>.vc_column-inner {
		display: -webkit-flex;
		display: flex;
		margin: 0 auto;
	}

	body .team-slider .wpb_wrapper {
		text-align: center;
	}

	.why-choose-us img.size-full {
		margin-bottom: 50px;
		width: 28px !important;
	}

	.row .span_2 h3,
	.row .span_3 h3,
	.row .span_4 h3,
	.row .vc_col-sm-2 h3,
	.row .vc_col-sm-3 h3,
	.row .vc_col-sm-4 h3,
	.row .col h3,
	body h3,
	#slide-out-widget-area .nectar-ext-menu-item .inherit-h3,
	#mobile-menu .nectar-ext-menu-item .inherit-h3,
	#ajax-content-wrap .nectar-inherit-h3,
	.nectar-category-grid[data-style="mouse_follow_image"][data-h-tag="h3"] .content {
		/* font-size: 16.8px; */
		line-height: 1;
	}

	.page-id-11 .boxed-slider .toggle {
		background-image: none !important;
		background: #0A272B;
		border: 1px solid rgba(19, 34, 149, 0.2);
		border-radius: 16px;
	}

	li.nav-btn.menu-item {
		display: none;
	}

	.featured-carousel .fcarousel-avatar {
		float: none;
		max-width: 60px !important;
	}

	.vi-testimonial,
	.video-testimonial {
		margin-bottom: 20px !important;
	}

	.boxed-slider.dark-slider.boxed-slider-mobile-only p {
		color: #FFF;
		text-align: center;
	}

	body .toggle[data-inner-wrap=true]>div .inner-toggle-wrap {
		padding: 20px 14px 40px 14px;
	}

	.media-coverage .vc_col-sm-3 {
		padding: 20px 0;
	}

	.no-mobile-row {
		display: none;
	}

	.mobile-cf-box-row .vc_column-inner {
		padding: 10px 0;
	}

	body div[data-style=minimal] .toggle.default i.fa.fa-plus-circle,
	body div[data-style=minimal] .toggle.default i.fa.fa-minus-circle {
		top: 30px;
	}

	body #ajax-content-wrap #error-404 h1 {
		font-size: 110px;
		line-height: 132px;
	}

	body #ajax-content-wrap #error-404 h2 {
		font-size: 32px;
		line-height: 52px;
	}

	.error404 .container-wrap {
		background-position: center center;
	}

	.contact-us-page .column-image-bg {
		border-radius: 24px;
	}

	#footer-outer #copyright li {
		margin-right: 20px;
	}

	img.testimonial-company-logo-mobile {
		position: absolute;
		top: -100px;
		left: 80px;
		display: block !important;
		max-height: 60px !important;
	}

	img.testimonial-company-logo {
		display: none !important;
	}

	.join-us .nectar-milestone {
		min-width: 30%;
		padding: 0px 20px 20px 20px;
		border-radius: 20px;
		margin: 10px 10px 10px 10px;
	}

	.join-us .nectar-milestone .number span {
		font-size: 36px;
		line-height: 100%;
	}

	body .join-us .nectar-milestone .subject {
		font-size: 14px;
		line-height: 100%;
	}

	body .toggles--minimal-shadow .toggle {
		padding: 0px;
	}

	#footer-outer #footer-widgets .col .social-share ul li:first-child {
		padding-top: 0px !important;
	}

	.footer-menu {
		margin-top: 0px;
	}

	.only-desktop {
		display: none !important;
	}

	.only-mobile {
		display: block !important;
	}

	body #header-outer[data-transparent-header=true].transparent {
		background-color: #17525a !important;
	}

	.vi-button {
		width: 100%;
	}

	.page-header-banner .row-bg {
		background-size: contain !important;
	}

	.vi-hero-container-right img {
		width: 100%;
		max-width: 100%;
	}

	.home-hero-h1 h1 {
		font-size: 32px !important;
		line-height: 38.72px;
	}

	.vi-custom-cards-container {
		margin-top: 0;
	}

	.vi-custom-card {
		flex: auto;
	}

}

@media (min-width: 768px) and (max-width: 992px) {
	.home-hero-h1 h1 {
		font-size: 40px !important;
	}
}

@media only screen and (min-width: 690px) {
	.boxed-slider-mobile-only {
		display: none !important;
	}
}

@media screen and (max-width: 1000px){
	.hide-col {
		display: none !important;
	}
}

@media only screen and (min-width: 690px) and (max-width: 999px) {
    .three-col-row .vc_col-sm-2 {
        margin-left: 0 !important;
    }
}

/* Mobile Menu Back Button Styles */
@media only screen and (max-width: 690px) {
	#slide-out-widget-area .sub-menu li.back a {
		font-family: "Poppins";
		font-weight: 600;
		font-size: 14px !important;
		line-height: 20px !important;
		color: #f89122 !important;
		padding: 15px 0;
		border-bottom: 1px solid #eee;
		text-decoration: none;
		display: block;
	}

	#slide-out-widget-area .sub-menu li.back a:hover {
		color: #00b1aa !important;
	}

	/* Ensure submenus are properly controlled */
	#slide-out-widget-area .sub-menu {
		display: none;
	}

	#slide-out-widget-area .sub-menu.open {
		display: block !important;
	}
}