.vi-button {
    --gap: 8px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: 600 !important;
    cursor: pointer !important;
    line-height: 1.4 !important;
    text-align: center !important;
    position: relative !important;
    margin: 0 20px 10px 0 !important;
    text-decoration: none !important;
    gap: var(--gap) !important;
    border-radius: 8px !important;
    transition: all 0.3s ease !important;
}

.vi-button--small {
    padding: 8px 16px !important;
    font-size: 14px !important;
}

.vi-button--medium {
    padding: 12px 24px !important;
    font-size: 16px !important;
}

.vi-button--large {
    padding: 16px 32px !important;
    font-size: 18px !important;
}

.vi-button__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
}

.vi-button__icon svg {
    width: 100%;
    height: 100%;
    transition: fill 0.3s ease !important;
}

.vi-button--icon-left {
    flex-direction: row !important;
}

.vi-button--icon-right {
    flex-direction: row-reverse !important;
}

.vi-button:hover {
    text-decoration: none;
    opacity: 0.9;
}

/* Preset colors */
.vi-button-primary {
    border-radius: 8px !important;
    border: 1px solid #f89122;
    background-color: #f89122 !important;
    color: #ffffff !important;
}

.vi-button-secondary {
    border-radius: 8px !important;
    border: 1px solid #00b1aa;

    background-color: #00b1aa !important;
    color: #ffffff !important;
}

.vi-button-accent {
    border-radius: 8px !important;
    background-color: #0A272B !important;
    color: #ffffff !important;
}

.vi-button-highlight {
    border-radius: 8px !important;
    background-color: #f54265 !important;
    color: #ffffff !important;
}

.vi-button-white {
    border-radius: 8px !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #0A272B !important;
}

.vi-button-black {
    border-radius: 8px !important;
    background-color: #000000 !important;
    color: #ffffff !important;
}

.vi-button-gray {
    border-radius: 8px !important;
    background-color: #676767 !important;
    color: #ffffff !important;
}

.educators-icon-white .vi-button__icon path {
    fill: #fff !important;
}